/* Place CSS styles here */
body {
    background-color: rgb(231, 248, 184);
    height: 100vh;
}

img, video, picture {
    max-width: 100%;
}

.song-title {
    font-size: 50px;
    margin: 3px;
}

.bye {
    font-size: 30px;
}

.artist-title {
    margin: 3px;
}

.title-wrapper {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.lyrics-wrapper {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-content: column;
}

.top-lyrics {
    background-color: rgb(250, 249, 210);
    padding: 10px;
    width: 100%;
}

.first-gif {
    width: 90%;
}

.middle-lyrics {
    background-color: rgb(250, 249, 210);
    padding: 10px;
    width: 100%;
}

.bottom-lyrics {
    background-color: rgb(250, 249, 210);
    padding: 10px;
    width: 100%;
}

.first-sentence {
    font-size: 20px;
    text-transform: capitalize;
}

.middle-gif {
    max-width: 100%;
}